<ul class=list-group>
  <li (click)="selectBook(book)" *ngFor="let book of books" [ngClass]="{ selected: book.id === selectedBook?.id}"
      class="list-group-item">
    {{book.title}}, <em>{{book.author}}</em>
  </li>
</ul>

<div *ngIf="selectedBook" id="editor">
  <form (ngSubmit)="save()" [formGroup]="formGroup">
    <p class="lead">Edit selected book</p>
    <div class="mb-3">
      <app-input
        inputId="title"
        title="Title"
        [mandatory]="true"
        formControlName="title">
      </app-input>
    </div>
    <div class="mb-3">
      <app-input
        inputId="author"
        title="Author"
        [mandatory]="true"
        formControlName="author">
      </app-input>
    </div>
    <div class="mb-3">
      <label class="form-label" for="description">Description</label>
      <textarea class="form-control" formControlName="description"
                id="description"
                name="description" rows="6"></textarea>
      <div class="invalid-feedback">
        {{ formGroup.controls.description.errors | errorMsg: 'description' }}
      </div>
    </div>
    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button (click)="cancelEditing()" class="btn btn-light" type="button">Cancel</button>
      <button [disabled]="formGroup.invalid || formGroup.pristine" class="btn btn-primary">Save</button>
    </div>
  </form>
</div>
